{% extends "base.html" %}
{% block content %}
{% for post in object_list %}
<h3><a href="{% url 'post' post.pk %}">{{ post.title }}</a></h3>
{% if post.pk not in readed %}
<a href="{% url 'readed' post.id %}">Пометить прочитанным</a>
{% else %}
<span>Прочитано</span>
{% endif %}
{% endfor %}
{% endblock %} 
