{% extends "base.html" %}
{% block content %}
<h1>Блоги</h1>
{% for blog in object_list %}
<h3>{{ blog }}</h3>
{% if blog in request.user.blog.subscribe.all %}
<a href="{% url 'unsubscribe' blog.id %}">Отписаться</a>
{% else %}
<a href="{% url 'subscribe' blog.id %}">Подписаться</a>
{% endif %}
{% endfor %}
{% endblock %}