{% extends "base.html" %}
{% block content %}
<form action="" method="post">
{% csrf_token %}
{% for f in form %} 
    {{ f.errors }}
    {{ f.label_tag }}
    {{ f }}
{% endfor %}
<button type="submit">Создать</button>
</form>
{% endblock %}  
