{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>

	<!-- meta -->
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width">
	
	<!-- title -->
	<title>Simple Blog</title>

</head>
<body>
    <div id="menu">
        <table><tr>
            <td>
                <a href="{% url 'index' %}">Главная</a>
            </td>
            <td>
                <a href="{% url 'feed' %}">Лента</a>
            </td>
            <td>
                <a href="{% url 'my_blog' %}">Мой блог</a>
            </td>
            <td>
                <a href="{% url 'new_post' %}">Создать пост</a>
            </td>
            <td>
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}">Выйти</a>
                {% else %}
                <a href="{% url 'login' %}">Войти</a>
                {% endif %}
            </td>
        </tr></table>
    </div>
    {% block content %}{% endblock %}
</body>
</html> 
